<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Whispering Forest · 晨铃城</string>
	<key>CFBundleExecutable</key>
	<string>play</string>
	<key>CFBundleIdentifier</key>
	<string>local.mkit.whisperingforest.sample</string>
	<key>CFBundleName</key>
	<string>晨铃城样板</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.5.0</string>
	<key>CFBundleVersion</key>
	<string>0.5.0</string>
	<key>NSHighResolutionCapable</key>
	<true/>
</dict>
</plist>
